.image-27-icon9 {
  position: absolute;
  top: 0px;
  left: -18px;
  width: 1460px;
  height: 1024px;
  object-fit: cover;
}
.credit-serrano-child {
  position: absolute;
  top: 0px;
  left: 98px;
  width: 1344px;
  height: 1022px;
}
.group-child69 {
  position: absolute;
  top: 10px;
  left: -65px;
  border-radius: var(--br-xl);
  height: 802px;
  width: 1000px;
}
.logo-removebg-preview-9-icon5 {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 800px;
  height: 700px;
}
.group-child70 {
  position: absolute;
  top: 43px;
  left: 0px;
  width: 869px;
  height: 30px;
}
.group-child71 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-xl);
  width: 869px;
  height: 64px;
}
.credit-records {
  position: absolute;
  top: 178px;
  left: 54px;
  line-height: 24px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 326px;
  height: 45px;
}
.credit-card-contactless11 {
  position: absolute;
  top: 14px;
  left: 25px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.credit11 {
  position: absolute;
  top: 17px;
  left: 95px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  display: inline-block;
  width: 104px;
  height: 33px;
}
.vector-parent7 {
  position: absolute;
  top: 147px;
  left: 395px;
  width: 869px;
  height: 751px;
}
.close {
  position: absolute;
  top: 227px;
  left: 1193px;
  width: 37px;
  height: 49px;
}
.group-child72 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: rgba(28, 95, 134, 0.11);
  width: 157px;
  height: 50px;
}
.group-child73 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-steelblue-100);
  width: 42px;
  height: 38px;
}
.search-icon1 {
  position: absolute;
  top: 9px;
  left: 11px;
  width: 20px;
  height: 18px;
  object-fit: cover;
}
.ellipse-group {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 108px;
  width: 42px;
  height: 38px;
}
.search {
  border: none;
  outline: none;
  font-weight: 600;
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 30px;
  color: rgba(66, 122, 155, 0.53);
  text-align: left;
  display: inline-block;
  width: 98px;
  height: 51px;
}
.rectangle-parent18 {
  position: absolute;
  top: 259px;
  left: 1062px;
  width: 157px;
  height: 66px;
}
.credit-serrano-item {
  position: absolute;
  top: 265px;
  left: 440px;
  border-radius: var(--br-3xs);
  width: 336px;
  height: 33px;
}
.friday-february-02 {
  position: absolute;
  top: 268px;
  left: 490px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-white);
  white-space: pre-wrap;
  display: inline-block;
  width: 743px;
  height: 21px;
}
.credit-serrano {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  color: var(--color-darkslategray-100);
}
.navigation-in-child7 {
  position: absolute;
  height: 100%;
  width: 81.07%;
  top: 0%;
  right: 18.93%;
  bottom: 0%;
  left: 0%;
  background-color: var(--color-gray-100);
}
.home-page-icon9 {
  position: absolute;
  height: 100%;
  width: 24.03%;
  top: 0%;
  right: 75.97%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home9 {
  position: absolute;
  height: 86.84%;
  width: 67.53%;
  top: 10.53%;
  left: 32.47%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.home-page-parent7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.71%;
  width: 63.37%;
  top: 20.02%;
  right: 25.51%;
  bottom: 76.27%;
  left: 11.11%;
}
.welcome10 {
  margin: 0;
}
.welcome-admin9 {
  position: absolute;
  height: 3.22%;
  width: 62.96%;
  top: 9.77%;
  left: 37.04%;
  font-weight: 500;
  display: inline-block;
}
.credit12 {
  position: absolute;
  height: 80.49%;
  width: 69.94%;
  top: 9.76%;
  left: 30.06%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.credit-card-contactless12 {
  position: absolute;
  height: 100%;
  width: 22.54%;
  top: 0%;
  right: 77.46%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.credit-parent7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 4%;
  width: 71.19%;
  top: 31.35%;
  right: 18.52%;
  bottom: 64.65%;
  left: 10.29%;
}
.salary16 {
  position: absolute;
  height: 84.62%;
  width: 68.75%;
  top: 7.69%;
  left: 31.25%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.hand-holding-dollar12 {
  position: absolute;
  height: 100%;
  width: 26.7%;
  top: 0%;
  right: 73.3%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.salary-parent7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.81%;
  width: 72.43%;
  top: 37.3%;
  right: 18.52%;
  bottom: 58.89%;
  left: 9.05%;
}
.image-36-icon9 {
  position: absolute;
  height: 5.57%;
  width: 23.46%;
  top: 8.59%;
  right: 68.72%;
  bottom: 85.84%;
  left: 7.82%;
  border-radius: var(--br-141xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.menu-icon13 {
  position: absolute;
  height: 4.3%;
  width: 20.16%;
  top: 1.46%;
  right: 70.78%;
  bottom: 94.24%;
  left: 9.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.pie-chart-report17 {
  position: absolute;
  height: 100%;
  width: 18.46%;
  top: 0%;
  right: 81.54%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.reports17 {
  position: absolute;
  height: 80.49%;
  width: 74.36%;
  top: 9.76%;
  left: 25.64%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.pie-chart-report-parent7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 4%;
  width: 80.25%;
  top: 43.16%;
  right: 8.64%;
  bottom: 52.83%;
  left: 11.11%;
}
.customer-icon10 {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0%;
  right: 80%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-out11 {
  position: absolute;
  height: 89.19%;
  width: 74.63%;
  top: 8.11%;
  left: 25.37%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.customer-parent7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.61%;
  width: 84.36%;
  top: 49.12%;
  right: 5.35%;
  bottom: 47.27%;
  left: 10.29%;
}
.stocks-growth-icon12 {
  position: absolute;
  height: 100%;
  width: 23.13%;
  top: 0%;
  right: 76.88%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sales12 {
  position: absolute;
  height: 89.19%;
  width: 65%;
  top: 2.7%;
  left: 35%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.stocks-growth-parent7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.61%;
  width: 65.84%;
  top: 25.88%;
  right: 23.87%;
  bottom: 70.51%;
  left: 10.29%;
}
.navigation-in9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 243px;
  height: 1024px;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
}
.credit-child {
  position: absolute;
  top: 310px;
  left: 0px;
  width: 197px;
  height: 60px;
  mix-blend-mode: overlay;
}
.text15 {
  flex: 1;
  position: relative;
  line-height: 130%;
  font-weight: 600;
}
.content15 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell15 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gray-600);
  border-top: 1px solid var(--color-gray-800);
  border-left: 1px solid var(--color-gray-800);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row3 {
  align-self: stretch;
  background-color: var(--color-gray-500);
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.table3 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-gray-800);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-11 {
  position: absolute;
  top: 397px;
  left: 449px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  width: 757px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--headings-headline-48);
}
.group-child74 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-crimson);
  width: 32px;
  height: 30px;
}
.trash1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 400px;
  left: 1146px;
  width: 32px;
  height: 30px;
  background-image: url("./public/trash@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent19 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 402px;
  left: 1147px;
  width: 32px;
  height: 30px;
}
.credit-item {
  position: absolute;
  top: 372px;
  left: 449px;
  background-color: var(--color-darkslategray-100);
  width: 758px;
  height: 27px;
}
.block-lot-phase4 {
  position: absolute;
  top: 350px;
  left: 450px;
  font-size: var(--font-size-xs);
  white-space: pre-wrap;
  display: inline-block;
  width: 730px;
  height: 21px;
}
.dropdown-form234 {
  width: 96px;
  height: 34px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-3xs);
  font-family: var(--headings-headline-48);
  font-size: var(--font-size-xs);
  color: var(--neutral-4);
}
.dropdown-form234:hover {
  background-color: var(--color-gray-500);
  display: flex;
  width: 96px;
  height: 34px;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-9xs);
  padding: var(--padding-5xs) var(--padding-3xs);
  box-sizing: border-box;
  border: 1px solid var(--color-gainsboro-100);
}
.dropdown-form233 {
  position: absolute;
  top: 400px;
  left: 1030px;
  border-radius: var(--br-9xs);
  width: 84px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
}
.dropdown-form233:hover {
  display: flex;
  width: 84px;
  height: 34px;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-9xs);
}
.credit10 {
  width: 100%;
  position: relative;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-baloo-tammudu);
}
