/* customers.css */



.label-customer-page {
    color: #275385; 
    font-family: Arial, sans-serif;
    font-weight: bold;
}
/* Style for search bar labels */
label {
    color: #343a40; /* Set label color */
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

/* Style for search bar input fields */
input[type="text"] {
    width: 100%;
    margin: 4px 0;
    color: #000 !important;
    box-sizing: border-box;
    border: 2px solid #111213 !important; /* Set input border color */
    border-radius: 4px; /* Set input border radius */
    background-color: #fff !important; /* Set the background color to white or your preferred color */
    padding: 0.375rem 0.75rem; /* Adjust padding as needed */
}

/* Style for the search button */
#blk, #lot, #ph, input[type="submit"] {
    margin: 4px 0;
    padding: 8px;
    background-color: #007bff; /* Set button background color */
    color: #fff; /* Set button text color */
    border: none;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

#blk, #lot, #ph {
    width: 100%;
}

/* Style for the search results table */
.table {
    margin-top: 20px;
}

/* Style for the table header cells */
.table th {
    background-color: #007bff; /* Set header background color */
    color: #fff; /* Set header text color */
    position: relative; /* Set position to relative */
    text-align: center;
}

/* Style for the calendar icon */
.table th .fa-calendar {
    position: absolute; /* Set position to absolute */
    left: 10px; /* Adjust the distance from the left edge */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
}



/* Style for the table cells */
.table td {
    text-align: center;
}

/* Style for the rows with customer data */
.table tr {
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Hover effect for rows with customer data */
.table tr:hover td {
    background-color: #d3dde6; /* Set hover background color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade of primary color */
}

<<<<<<< HEAD

=======
.edit-text {
    text-align: center;
    margin-right: 10px;
}
>>>>>>> fd8323af2152479232a620a341be4cf40aaa2594
