#order_history_label {
    color: #353a41 !important;
    font-family: Arial, sans-serif; 
    font-weight: bold;
  }
  
  label {
    color: #343a40;
    display: block; 
    margin-bottom: 4px;
    font-weight: bold;  
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin: 4px;
  }
  
  .table {
    margin-top: 20px;  
  }
  
  .table th {
    background-color: #007bff;
    color: #fff;
    position: relative;
    text-align: center;
  }

  .table td {
    text-align: center;
  }

  .total_labe {
    color: #275385;
  }
  .total_amount {
    font-weight: bold;
    color: #007bff;
  }
