.image-27-icon5 {
  position: absolute;
  top: 0;
  left: -18px;
  width: 2179px;
  height: 1024px;
  object-fit: cover;
}
.group-child18,
.salary-serrano-child5 {
  position: absolute;
  top: 0;
  left: 96px;
  width: 1344px;
  height: 1046px;
}
.group-child18 {
  top: 19.8px;
  left: 0;
  border-radius: var(--br-xl);
  width: 868px;
  height: 527.2px;
}
.logo-removebg-preview-8-icon3 {
  position: absolute;
  top: 83.5px;
  left: 163px;
  width: 510px;
  height: 448.2px;
  object-fit: cover;
}
.group-child19,
.group-child20,
.group-child21 {
  position: absolute;
  top: 38.6px;
  left: 0;
  width: 868px;
  height: 26.9px;
}
.group-child20,
.group-child21 {
  top: 97.9px;
  left: 57px;
  border-radius: var(--br-3xs);
  width: 336px;
}
.group-child21 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 868px;
  height: 57.5px;
}
.salary-record2,
.staff2 {
  position: absolute;
  top: 164.4px;
  left: 57px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 283px;
  height: 40.4px;
}
.staff2 {
  top: 169.8px;
  left: 346px;
  width: 150px;
}
.close-icon1 {
  position: absolute;
  top: 13.5px;
  left: 804px;
  width: 37px;
  height: 44px;
  object-fit: cover;
}
.group-child22,
.group-child23,
.group-child24,
.group-child25 {
  position: absolute;
  left: 837px;
  background-color: var(--color-lightgray-100);
}
.group-child22 {
  top: 65.6px;
  width: 31px;
  height: 470.7px;
}
.group-child23,
.group-child24,
.group-child25 {
  top: 516.5px;
  height: 30.5px;
}
.group-child23 {
  border-radius: var(--br-xl);
  width: 31px;
}
.group-child24,
.group-child25 {
  width: 15px;
}
.group-child25 {
  top: 158.1px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 31px;
  height: 103.3px;
}
.tuesday-january-231 {
  position: absolute;
  top: 97.9px;
  left: 65px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  display: inline-block;
  width: 743px;
  height: 18.9px;
}
.menu-icon5 {
  position: absolute;
  top: 187.7px;
  left: 841px;
  width: 23px;
  height: 42.2px;
  object-fit: cover;
}
.group-child26,
.group-child27 {
  position: absolute;
  top: 71px;
  left: 837px;
  border-radius: var(--br-11xs);
  width: 31px;
  height: 21.6px;
}
.group-child27 {
  top: 517.4px;
  object-fit: contain;
}
.stocks-growth-icon6 {
  position: absolute;
  top: 13.5px;
  left: 16px;
  width: 62px;
  height: 40.4px;
  object-fit: cover;
}
.salary9 {
  position: absolute;
  top: 16.2px;
  left: 87px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  display: inline-block;
  width: 104px;
  height: 29.6px;
}
.vector-parent2 {
  position: absolute;
  top: 256px;
  left: 397px;
  width: 868px;
  height: 547px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray-100);
}
.group-child28 {
  position: absolute;
  top: 20.8px;
  left: 0;
  border-radius: var(--br-xl);
  width: 868px;
  height: 495.2px;
}
.logo-removebg-preview-8-icon4 {
  position: absolute;
  top: 87.7px;
  left: 163px;
  width: 510px;
  height: 428.3px;
  object-fit: cover;
}
.group-child29,
.group-child30 {
  position: absolute;
  top: 40.6px;
  left: 0;
  width: 868px;
  height: 28.3px;
}
.group-child30 {
  top: 0;
  border-radius: var(--br-xl);
  height: 60.4px;
}
.pie-chart-report6 {
  position: absolute;
  top: 16px;
  left: 41px;
  width: 36px;
  height: 41px;
  object-fit: cover;
}
.delivery1,
.staff3 {
  position: absolute;
  top: 242.4px;
  left: 455px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 100px;
  height: 42.4px;
}
.delivery1 {
  top: 241.5px;
  left: 57px;
  width: 190px;
}
.close-icon2 {
  position: absolute;
  top: 14.1px;
  left: 804px;
  width: 37px;
  height: 46.2px;
  object-fit: cover;
}
.group-child31,
.group-child32,
.group-child33,
.group-child34 {
  position: absolute;
  left: 837px;
  background-color: var(--color-lightgray-100);
}
.group-child31 {
  top: 68.9px;
  width: 31px;
  height: 447.1px;
}
.group-child32,
.group-child33,
.group-child34 {
  top: 482px;
  height: 32.1px;
}
.group-child32 {
  border-radius: var(--br-xl);
  width: 31px;
}
.group-child33,
.group-child34 {
  width: 15px;
}
.group-child34 {
  top: 166px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 31px;
  height: 108.5px;
}
.menu-icon6 {
  position: absolute;
  top: 197.2px;
  left: 841px;
  width: 23px;
  height: 44.3px;
  object-fit: cover;
}
.group-child35 {
  position: absolute;
  top: 74.5px;
  left: 837px;
  border-radius: var(--br-11xs);
  width: 31px;
  height: 22.6px;
}
.reports7 {
  position: absolute;
  top: 17px;
  left: 87px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  display: inline-block;
  width: 164px;
  height: 31px;
}
.vector-parent3 {
  position: absolute;
  top: 257px;
  left: 397px;
  width: 868px;
  height: 516px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray-300);
}
.group-child36 {
  position: absolute;
  top: 2.5px;
  left: 320.2px;
  border-right: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 1px;
  height: 81px;
}
.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 322px;
  height: 27px;
}
.quantity-delivered-salary1 {
  position: absolute;
  top: 0;
  left: 12.7px;
  white-space: pre-wrap;
  display: inline-block;
  width: 277.5px;
  height: 17px;
}
.group-icon,
.line-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
  height: 83px;
}
.group-icon {
  top: 3px;
  left: 1.3px;
  width: 320.7px;
  height: 81.9px;
}
.group-child38,
.group-parent {
  position: absolute;
  top: 599px;
  left: 454px;
  width: 322px;
  height: 84.9px;
}
.group-child38 {
  top: 44.5px;
  left: 717.2px;
  border-right: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 1px;
  height: 81px;
}
.group-child39,
.group-child40 {
  position: absolute;
  top: 42px;
  left: 397px;
  background-color: var(--color-darkslategray-100);
  width: 322px;
  height: 27px;
}
.group-child40 {
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
}
.salary10 {
  position: absolute;
  top: 42px;
  left: 409.7px;
  white-space: pre-wrap;
  display: inline-block;
  width: 277.5px;
  height: 17px;
}
.line-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 719px;
  height: 125px;
}
.group-child41,
.group-container {
  position: absolute;
  top: 67px;
  left: 398.3px;
  width: 320.7px;
  height: 59.9px;
}
.group-container {
  top: 557px;
  left: 454px;
  width: 719px;
  height: 126.9px;
}
.add-icon,
.add-icon1 {
  position: absolute;
  top: 695px;
  left: 584px;
  width: 64px;
  height: 60px;
  object-fit: cover;
}
.add-icon1 {
  left: 981px;
}
.name2 {
  position: absolute;
  top: 560px;
  left: 464px;
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-gray-400);
  display: inline-block;
  width: 73px;
  height: 23px;
}
.salary-serrano-child6 {
  position: absolute;
  top: 557px;
  left: 850px;
  background-color: var(--color-darkslategray-200);
  width: 322px;
  height: 27px;
}
.name3 {
  position: absolute;
  top: 560px;
  left: 860px;
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-gray-400);
  display: inline-block;
  width: 73px;
  height: 23px;
}
.salary-serrano-child7 {
  position: absolute;
  top: 363px;
  left: 454px;
  border-radius: var(--br-3xs);
  width: 336px;
  height: 33px;
}
.tuesday-january-232 {
  position: absolute;
  top: 366px;
  left: 462px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-outfit);
  display: inline-block;
  width: 743px;
  height: 21px;
}
.salary-serrano3 {
  background-color: var(--color-white);
}
.salary-serrano3,
.salary-serrano4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.home-page-icon4,
.navigation-in-child2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.navigation-in-child2 {
  width: 81.07%;
  right: 18.93%;
  background-color: var(--color-gray-100);
}
.home-page-icon4 {
  width: 24.03%;
  right: 75.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home4 {
  position: absolute;
  height: 86.84%;
  width: 67.53%;
  top: 10.53%;
  left: 32.47%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.home-page-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.71%;
  width: 63.37%;
  top: 20.02%;
  right: 25.51%;
  bottom: 76.27%;
  left: 11.11%;
}
.welcome5 {
  margin: 0;
}
.credit5,
.welcome-admin4 {
  position: absolute;
  height: 3.22%;
  width: 62.96%;
  top: 9.77%;
  left: 37.04%;
  font-weight: 500;
  display: inline-block;
}
.credit5 {
  height: 80.49%;
  width: 69.94%;
  top: 9.76%;
  left: 30.06%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
}
.credit-card-contactless5 {
  position: absolute;
  height: 100%;
  width: 22.54%;
  top: 0;
  right: 77.46%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.credit-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 4%;
  width: 71.19%;
  top: 31.35%;
  right: 18.52%;
  bottom: 64.65%;
  left: 10.29%;
}
.salary11 {
  position: absolute;
  height: 84.62%;
  width: 68.75%;
  top: 7.69%;
  left: 31.25%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.hand-holding-dollar6 {
  position: absolute;
  height: 100%;
  width: 26.7%;
  top: 0;
  right: 73.3%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.salary-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.81%;
  width: 72.43%;
  top: 37.3%;
  right: 18.52%;
  bottom: 58.89%;
  left: 9.05%;
}
.image-36-icon4,
.menu-icon7,
.pie-chart-report7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-36-icon4 {
  height: 5.57%;
  width: 23.46%;
  top: 8.59%;
  right: 68.72%;
  bottom: 85.84%;
  left: 7.82%;
  border-radius: var(--br-141xl);
}
.menu-icon7,
.pie-chart-report7 {
  height: 4.3%;
  width: 20.16%;
  top: 1.46%;
  right: 70.78%;
  bottom: 94.24%;
  left: 9.05%;
}
.pie-chart-report7 {
  height: 100%;
  width: 18.46%;
  top: 0;
  right: 81.54%;
  bottom: 0;
  left: 0;
}
.reports8 {
  position: absolute;
  height: 80.49%;
  width: 74.36%;
  top: 9.76%;
  left: 25.64%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.pie-chart-report-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 4%;
  width: 80.25%;
  top: 43.16%;
  right: 8.64%;
  bottom: 52.83%;
  left: 11.11%;
}
.customer-icon5 {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  right: 80%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-out6 {
  position: absolute;
  height: 89.19%;
  width: 74.63%;
  top: 8.11%;
  left: 25.37%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.customer-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.61%;
  width: 84.36%;
  top: 49.12%;
  right: 5.35%;
  bottom: 47.27%;
  left: 10.29%;
}
.stocks-growth-icon7 {
  position: absolute;
  height: 100%;
  width: 23.13%;
  top: 0;
  right: 76.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sales7 {
  position: absolute;
  height: 89.19%;
  width: 65%;
  top: 2.7%;
  left: 35%;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.stocks-growth-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.61%;
  width: 65.84%;
  top: 25.88%;
  right: 23.87%;
  bottom: 70.51%;
  left: 10.29%;
}
.navigation-in4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 243px;
  height: 1024px;
  font-family: var(--font-outfit);
}
.reports-customer-child {
  position: absolute;
  top: 430px;
  left: 0;
  width: 197px;
  height: 60px;
  mix-blend-mode: overlay;
}
.group-child42 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 868px;
  height: 746px;
}
.logo-removebg-preview-9-icon1 {
  position: absolute;
  top: 75px;
  left: 25px;
  width: 818px;
  height: 671px;
  object-fit: cover;
}
.extra-small-small {
  position: absolute;
  top: 643px;
  left: 271px;
  white-space: pre-wrap;
  display: inline-block;
  width: 771px;
  height: 21px;
}
.customer-activity-report,
.total-amount-of {
  position: absolute;
  top: 602px;
  left: 54px;
  font-size: var(--font-size-13xl);
  line-height: 24px;
  color: var(--color-slategray-100);
  display: flex;
  align-items: center;
  width: 502px;
  height: 45px;
}
.customer-activity-report {
  top: 173px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray-100);
}
.group-child43 {
  position: absolute;
  top: 231px;
  left: 54px;
  background-color: var(--color-darkslategray-100);
  width: 758px;
  height: 27px;
}
.frame3 {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: static;
  top: 258px;
  left: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.block-lot-phase1 {
  position: absolute;
  top:195px;
  left: 46px;
  color: var(--color-white);
  white-space: pre-wrap;
  display: inline-block;
  width: 756px;
  height: 21px;
}
.group-child44 {
  position: absolute;
  top: 93px;
  left: 50px;
  border-radius: var(--br-3xs);
  width: 336px;
  height: 33px;
}
.date-dddd2 {
  position: absolute;
  top: 98px;
  left: 98px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-white);
}
.block-lot-phase2 {
  position: absolute;
  top: 91px;
  left: 524px;
  white-space: pre-wrap;
  display: inline-block;
  width: 743px;
  height: 21px;
}
.group-child45 {
  position: absolute;
  top: 129.5px;
  left: 686.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 60px;
  height: 1px;
}
.block,
.lot,
.phase {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-family: var(--font-outfit);
  font-size: var(--font-size-xs);
  outline: 0;
  position: absolute;
  top: 115px;
  left: 528px;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  width: 73px;
  height: 23px;
}
.lot,
.phase {
  left: 618px;
}
.phase {
  top: 114px;
  left: 695px;
}
.group-child46 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-darkslategray-100);
  width: 868px;
  height: 73px;
  cursor: pointer;
}
.vector-parent4 {
  position: absolute;
  top: 152px;
  left: 395px;
  width: 1267px;
  height: 746px;
  color: var(--color-black);
}
.pie-chart-report8 {
  position: absolute;
  top: 168px;
  left: 434px;
  width: 36px;
  height: 41px;
  object-fit: cover;
}
.reports9 {
  position: absolute;
  top: 169px;
  left: 480px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  display: inline-block;
  width: 164px;
  height: 31px;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-steelblue-100);
  width: 42px;
  height: 38px;
}
.search-icon {
  position: absolute;
  top: 9px;
  left: 11px;
  width: 20px;
  height: 18px;
  object-fit: cover;
}
.ellipse-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 38px;
}
.reports-customer-inner {
  position: absolute;
  top: 249px;
  left: 1163px;
  width: 42px;
  height: 38px;
}
.textarea3,
.textarea4,
.textarea5,
.textarea6 {
  border: 1px solid var(--color-black);
  background-color: var(--color-lightgray-200);
  outline: 0;
  position: absolute;
  top: 818.5px;
  left: 665.5px;
  box-sizing: border-box;
  width: 85px;
  height: 33px;
  overflow: hidden;
}
.textarea4,
.textarea5,
.textarea6 {
  left: 749.5px;
}
.textarea5,
.textarea6 {
  left: 833.5px;
}
.textarea6 {
  left: 917.5px;
}
.reports-customer-child1,
.reports-customer-item {
  position: absolute;
  top: 281.5px;
  left: 913.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 60px;
  height: 1px;
}
.reports-customer-child1 {
  left: 995.5px;
}
.reports-customer {
  width: 100%;
  position: relative;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-tammudu);
}
